## Data Types in Python 

There are different types of data types in Python. Some built-in Python data types are:

* Numeric data types: int, float, complex
* String data types: str
* Sequence types: list, tuple, range
* Binary types: bytes, bytearray, memoryview
* Mapping data type: dict
* Boolean type: bool
* Set data types: set, frozenset


## 1.  Numeric o cuantitative (tomar la media tiene sentido) 
* 1.1 Discrete
    * Integer (int) #Stored exactly
        * Holds signed integers of non-limited length.
        
* 1.2 Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.
        * holds floating precision numbers and it’s accurate up to 15 decimal places.

* 1.3 Complex
    * Holds complex numbers.

In [1]:
import math

### Integers

In [3]:
type(0)

int

In [4]:
type(-3)

int

### Lists 

Try taking the mean

In [2]:
numbers = [2, 3, 4, 5]
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

3.5

float

In [3]:
numbers[0::2]

[2, 4]

###  **Floats**

In [7]:
3/5

0.6

In [8]:
6*10**(-1) # 6 x 10 ^(-1) = 0.60

0.6000000000000001

In [9]:
type(3/5)

float

In [10]:
print(math.pi)
type(math.pi)

3.141592653589793

float

In [11]:
type(4.0)

float

In [12]:
numbers = [math.pi, 3/5, 4.1]
type(sum(numbers))

float

 ## 2. Categorical or Qualitative
 * 2.1 Nominal
     * Boolean (bool)
     * String (str)
     * None (NoneType)
     
     Nominal data is data that can be labelled or classified into mutually exclusive categories within a variable. These categories cannot be ordered in a meaningful way.

          
          For example, for the nominal variable of preferred mode of transportation, you may have the categories of car, bus, train, tram or bicycle.


 * 2.2 Ordinal
     * Only defined by how you use the data
     * Often important when creating visuals
     * Lists can hold ordinal information because they have indices

    Ordinal data is a kind of categorical data with a set order or scale to it. 
    
    For example, ordinal data is said to have been collected when a responder inputs his/her financial happiness level on a scale of 1-10. 
    
    In ordinal data, there is no standard scale on which the difference in each score is measured.

    Considering the example highlighted above, let us assume that 50 people earning between \\$1000 to \\$10000 monthly were asked to rate their level of financial happiness. 

        An undergraduate earning &#36; 2000 monthly may be on an 8/10 scale, while a father of 3 earning \\$ 5000 rates 3/10. This is to show that the scale is usually influenced by personal factors and not due to a set rule.

### **Boolean**

In [4]:
type(True)

bool

In [5]:
type(bool('yes'))

bool

Creating a conditional statement as :

In [6]:
x = 6
y = 7
if x < y:
    print("{} es menor que {}".format(x,y))
print('Mensaje predefinido') # default message.

6 es menor que 7
Mensaje predefinido

In [9]:
if x < y:
    print("{} es menor que {}".format(x,y))
else:
    print(x, "es mejor que", y)

6 es menor que 7

To print each element in a list and it's types as well:

In [10]:
myList = [True, 6<5, 1==3, None is None]

for element in myList:
    print(element, '\t', type(element))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [11]:
print('Mean is :\t', sum(myList)/len(myList))
type(sum(myList)/len(myList))
#np.average(myList)

Mean is :	 0.5

float

In [12]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [13]:
print(*a)
print('_'*100)
print(*a, sep = '\t***\t')
print('_'*100)
print(*a, sep = '\n')

1 2 3 4
____________________________________________________________________________________________________
1	***	2	***	3	***	4
____________________________________________________________________________________________________
1
2
3
4

In [14]:
print(*myList)
print('_'*100)
print(*myList, sep = '\t***\t')
print('_'*100)
print(*myList, sep = '\n')

True False False True
____________________________________________________________________________________________________
True	***	False	***	False	***	True
____________________________________________________________________________________________________
True
False
False
True

In [16]:
a

[1, 2, 3, 4]

Joining the elements in the list `a`, with  `\n**` in between each element:

In [17]:
print('\n**'.join(map(str, a)))

1
**2
**3
**4

### **String**

The string is a sequence of characters. Python supports Unicode characters. Generally, strings are represented by either single or double-quotes.

In [18]:
type("This sentence makes sense")

str

In [19]:
type("Makes sentense this sense")

str

In [22]:
import math

In [23]:
print(math.pi)
type(math.pi)

3.141592653589793

float

In [24]:
print("math.pi")
type("math.pi")

math.pi

str

In [25]:
str_list = ['dog', 'koala', 'goose']
#sum(strList)/len(strList)
str_list

['dog', 'koala', 'goose']

In [26]:
len(str_list)

3

### **Nonetype**

In [27]:
# None
type(None)

NoneType

type(none) # will give us an Error, since `none` starts with small letter 'n'

In [29]:
x = None
type(x)

NoneType

In [30]:
none_list = [None]*5
#sum(none_list)/len(none_list)
len(none_list)

5

In [31]:
none_list

[None, None, None, None, None]

In [32]:
print(none_list)

[None, None, None, None, None]

### **Lists**

Una lista puede contener muchos tipos y también se puede utilizar para almacenar información ordinal.

The list in Python is it can simultaneously hold different types of data. Formally list is an ordered sequence of some data written using square brackets([]) and commas(,).

In [34]:
my_list = [1, 1.1, "This is a sentence", None]

for i in my_list:
    print(type(i))
    
print('my_list is : \t', *my_list)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>
my_list is : 	 1 1.1 This is a sentence None

In [35]:
len(my_list)

4

In [36]:
 my_list

[1, 1.1, 'This is a sentence', None]

In [37]:
# List

my_list = [1, 2, 3]

print('Element\t\tType')
print('-'*10, '\t', '-'*15)

for i in my_list:
    print(i,'\t\t', type(i))
    
my_list

Element		Type
---------- 	 ---------------
1 		 <class 'int'>
2 		 <class 'int'>
3 		 <class 'int'>

[1, 2, 3]

In [38]:
sum(my_list)/len(my_list) # note that this outputs a float

2.0

In [39]:
my_list = ['f', 'a', 'c', 'b', 'df', 'ee']
my_list[0]

'f'

Sorting a list

In [41]:
my_list.sort()
print(*my_list)

a b c df ee f

From begining to 2(pos 2 not included):

In [42]:
my_list[:2]

['a', 'b']

From position 2 to end:

In [43]:
my_list[2:]

['c', 'df', 'ee', 'f']

From begining to end

In [44]:
my_list[:]

['a', 'b', 'c', 'df', 'ee', 'f']

Last of the list:

In [45]:
my_list[-1]

'f'

From begining to second last(not included) element.

In [46]:
my_list[:-2]

['a', 'b', 'c', 'df']

From second last (included) to end:

In [47]:
my_list[-2:]

['ee', 'f']

## Tuple

The tuple is another data type which is a sequence of data similar to a list. But it is immutable. That means data in a tuple is write-protected. Data in a tuple is written using parenthesis and commas.

In [48]:
#tuple having only integer type of data.
a=(1,2,3,4)
print(a) #prints the whole tuple

#tuple having multiple type of data.
b=("hello", 1,2,3,"go")
print(b) #prints the whole tuple

#index of tuples are also 0 based.

print(b[4]) #this prints a single element in a tuple, in this case "go"

(1, 2, 3, 4)
('hello', 1, 2, 3, 'go')
go

## Dictionary

Python Dictionary is an unordered sequence of data of key-value pair form. It is similar to the hash table type. Dictionaries are written within curly braces in the form key:value. It is very useful to retrieve data in an optimized way among a large amount of data.

In [49]:
a = {1:"first name",2:"last name", "age":33}

#print value having key=1
print(a[1])
#print value having key=2
print(a[2])
#print value having key="age"
print(a["age"])

first name
last name
33

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.

<!--NAVIGATION-->
< [Previous](https://github.com/Egade/ClassNotes/blob/main/011_Input_Output_History.ipynb) | [Toc](https://github.com/Egade/ClassNotes) | [Next](https://github.com/Egade/ClassNotes/blob/main/013_arrays.ipynb) >