# Handling Missing Data

The real world is that real-world data is rarely clean and homogeneous. In particular, many interesting datasets will have some amount of data missing.
To make matters even more complicated, different data sources may indicate missing data in different ways.

In this section, we will discuss some general considerations for missing data, discuss how Pandas chooses to represent it, and demonstrate some built-in Pandas tools for handling missing data in Python.

Here, we'll refer to missing data in general as `null`, `NaN`, or `NA` values.

## Trade-Offs in Missing Data Conventions

There are a number of schemes that have been developed to indicate the presence of missing data in a `DataFrame`.
Generally, they revolve around one of two strategies: 
- using a *mask* that globally indicates missing values, or 
- choosing a *sentinel value* that indicates a missing entry.

In the `masking approach`, the mask might be an entirely separate Boolean array, or it may involve appropriation of one bit in the data representation to locally indicate the `null` status of a value.

In the `sentinel approach`, the sentinel value could be some data-specific convention, such as indicating a missing integer value with: 
-  -9999 or 
- some rare bit pattern, or 
- it could be a more global convention, such as indicating a missing floating-point value with `NaN` (Not a Number), a special value which is part of the IEEE floating-point specification.

None of these approaches is without trade-offs: use of a separate mask array requires allocation of an additional Boolean array, which adds overhead in both storage and computation. A sentinel value reduces the range of valid values that can be represented, and may require extra (often non-optimized) logic in CPU and GPU arithmetic. Common special values like `NaN` are not available for all data types.

As in most cases where no universally optimal choice exists, different languages and systems use different conventions.
-  the `R` language uses reserved bit patterns within each data type as sentinel values indicating missing data
-  the `SciDB` system uses an extra byte attached to every cell which indicates a `NA` state

## Missing Data in Pandas

The way in which Pandas handles missing values is constrained by its reliance on the NumPy package, which does not have a built-in notion of NA values for non-floating-point data types.
 

NumPy does have support for masked arrays – that is, arrays that have a separate Boolean mask array attached for marking data as "good" or "bad."
Pandas could have derived from this, but the overhead in both storage, computation, and code maintenance makes that an unattractive choice.

With these constraints in mind, Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floating-point ``NaN`` value, and the Python ``None`` object.
This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

### ``None``: Pythonic missing data

- The first sentinel value used by Pandas is ``None``

 a Python singleton object that is often used for missing data in Python code.

Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects)

In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

 ``dtype=object`` - means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects.
 
While this kind of object array is useful for some purposes, any operations on the data will be done at the Python level, with much more overhead than the typically fast operations seen for arrays with native types:

In [3]:
np.arange(1E4).size

10000

In [4]:
for iter in ['object', 'int']:
    print("dtype =", iter)
    %timeit  np.arange(1E4, dtype=iter).sum()
    print()

dtype = object
1.06 ms ± 200 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

dtype = int
30.4 µs ± 9.65 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

The use of Python objects in an array also means that if you perform aggregations like ``sum()`` or ``min()`` across an array with a ``None`` value, you will generally get an error:

```
vals1.sum()
```
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-14-30a3fc8c6726> in <module>
----> 1 vals1.sum()

/usr/local/lib/python3.8/dist-packages/numpy/core/_methods.py in _sum(a, axis, dtype, out, keepdims, initial, where)
     46 def _sum(a, axis=None, dtype=None, out=None, keepdims=False,
     47          initial=_NoValue, where=True):
---> 48     return umr_sum(a, axis, dtype, out, keepdims, initial, where)
     49 
     50 def _prod(a, axis=None, dtype=None, out=None, keepdims=False,

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'
```

This reflects the fact that addition between an integer and ``None`` is undefined.

### ``NaN``: Missing numerical data

The other missing data representation, ``NaN`` (acronym for *Not a Number*), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

In [5]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

dtype('float64')

Notice that NumPy chose a native floating-point type for this array: 
- this means that unlike the object array from before, this array supports fast operations pushed into compiled code.
- You should be aware that ``NaN`` is a bit like a data virus–it infects any other object it touches.
- Regardless of the operation, the result of arithmetic with ``NaN`` will be another ``NaN``:

In [6]:
vals2.sum()

nan

In [7]:
0 + np.nan

nan

In [8]:
1 *  np.nan

nan

Note that this means that aggregates over the values are well defined (i.e., they don't result in an error) but not always useful:

In [9]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

NumPy does provide some special aggregations that will ignore these missing values:

In [10]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

Keep in mind that ``NaN`` is specifically a floating-point value
- there is no equivalent `NaN` value for integers, strings, or other types.

### NaN and None in Pandas

``NaN`` and ``None`` both have their place, and Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate:

In [11]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

For types that don't have an available sentinel value, Pandas automatically type-casts when NA values are present.

- If we set a value in an integer array to ``np.nan``, it will automatically be upcast to a floating-point type to accommodate the NA:

In [12]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [13]:
x[1] = None

In [14]:
x

0    0.0
1    NaN
dtype: float64

Notice that in addition to casting the integer array to floating point, Pandas automatically converts the ``None`` to a ``NaN`` value.
 

The following table lists the upcasting conventions in Pandas when NA values are introduced:

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``object``          | ``None`` or ``np.nan`` |

Keep in mind that in Pandas, string data is always stored with an ``object`` dtype.

## Operating on Null Values

As we have seen, Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.


To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

### Detecting null values
Pandas data structures have two useful methods for detecting null data: 
- ``isnull()`` and 
- ``notnull()``

Either one will return a Boolean mask over the data. 

For example:

In [15]:
data = pd.Series([1, np.nan, 'hello', None])

In [16]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

Boolean masks can be used directly as a ``Series`` or ``DataFrame`` index:

In [17]:
data[data.isnull()]

1     NaN
3    None
dtype: object

In [18]:
data[data.notnull()]

0        1
2    hello
dtype: object

The ``isnull()`` and ``notnull()`` methods produce similar Boolean results for ``DataFrame``s.

### Dropping null values

In addition to the masking used before, there are the convenience methods: 
-  ``dropna()`` - which removes `NA` values 
-  ``fillna()`` - which fills in `NA` values. 

For a ``Series``, the result is straightforward:

In [19]:
data.dropna()

0        1
2    hello
dtype: object

For a ``DataFrame``, there are more options.
Consider the following ``DataFrame``:

In [20]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

- we cannot drop single values from a ``DataFrame``
- we can only drop full rows or full columns.

Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

-  ``dropna()`` - by default will drop all rows in which *any* null value is present:

In [21]:
df.dropna()

     0    1  2
1  2.0  3.0  5

Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

In [22]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

But this drops some good data as well.

We may rather be interested in dropping rows or columns with *all* NA values, or a majority of NA values.

 -  ``how`` or ``thresh`` -  parameters which allow fine control of the number of nulls to allow through.

   - ``how='any'`` - such that any row or column (depending on the ``axis`` keyword) containing a null value will be dropped.
   -  ``how='all'`` - which will only drop rows/columns that are *all* null values:

In [23]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [24]:
df.dropna(axis=1, 
          how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

 - ``thresh``  - parameter lets you specify a minimum number of non-null values for the row/column `to be kept`

In [25]:
df.dropna(axis='rows', 
          thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

* Here the first and last row have been dropped, because they contain only two non-null values.
* At least 3 non-nan values must be there in a row to be kept in a df.

### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value.

 - This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values.

You could do this in-place using the ``isnull()`` method as a mask, but because it is such a common operation Pandas provides the ``fillna()`` method, which returns a copy of the array with the null values replaced.

Consider the following ``Series``:

In [26]:
data = pd.Series([1, np.nan, 2, None, 3], 
                 index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

We can fill NA entries with a single value, such as zero:

In [27]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

- `ffill` - forward-fill -  to propagate the previous value forward
- `bfill` -  back-fill - to propagate the next values backward

In [28]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [29]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [30]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [31]:
ndf = df.fillna(method='ffill', 
                axis=1)
ndf

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [32]:
ndf.isnull().any()

0     True
1    False
2    False
3    False
dtype: bool

* Notice that if a previous value is not available during a forward fill, the NA value remains.

<!--NAVIGATION-->
< [Previous](prev) 
| [Toc](https://github.com/Egade/ClassNotes) 
| [Next](nex) >